<div class="text-center mt-3 mb-3">
    <form>
        <input
            class="rounded"
            type="search"
            placeholder="search..."
            autofocus
            (keyup)="debounce.next($event.target.value)"
            >
    </form>
</div>
{{filter}}
<ap-photos [photos]="photos | filterByDescription: filter"></ap-photos><!-- filterByDescription é um pipe personalizado que vamos implementar que alem de photos como entrada no tubo tambem recebera o filter que é o texto dinamicamente escrito no input-->

<ap-load-button 
    (click)="load()" 
    [hasMore]="hasMore">
</ap-load-button>